.blue-bar {
    align-self: center;
    border-left: 4px solid #4258BB;
    height: 85px;
}

.container-notifications-subject-message-date {
    max-width: 235px;
}

.container-notifications-deleteicon {
    padding-right: 20px;
}

.container-notifications-deleteicon:hover {
    color: red;
    padding-right: 20px;
}

.firstColor {
    border-radius: 1%;
    flex: 100%;
}

.firstColor:hover, .secondColor:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 1%;
    cursor: pointer;
}

.secondColor {
    border-radius: 1%;
    flex: 100%;
}
