.portlet-body {
  margin: 0;
  padding: 10px !important;
}

.container-inbox {
  display: flex;
  margin: 0 !important;
  max-height: 40rem;
  min-height: 40rem;
  overflow: hidden;
  padding: 0 !important;
  width: 100%;
}

.messages-today {
  flex: 25%;
}

.messages-editor {
  flex: 75%;
}

@media (min-width: 1399px) {
  .container-inbox {
    max-width: 100% !important;
  }
}
@media (min-width: 380px) {
  .container-inbox {
    flex-wrap: wrap;
    max-width: 100% !important;
  }
  .messages-today {
    flex: 100%;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container-inbox {
    max-width: 100% !important;
  }
  .messages-today {
    flex: 25%;
    width: 100%;
  }
}
