.__container-policies {
  // background-color: red;
  width: 100%;
  display: flex;
}

.__container-policies-accordion {
  // background-color: blue;
  width: 25%;
  margin: 20px;
}

.__container-policies-table {
  // background-color: green;
  width: 75%;
  margin: 20px;
}

.__container-policies-tabs {
  // background-color: yellow;
  display: flex;
  justify-content: start;
}

@media only screen and (max-width: 1399px) and (min-width: 1025px) {
  .__container-policies-accordion {
    // background-color: blue;
    width: 25%;
    margin: 20px;
  }

  .__container-policies-table {
    // background-color: yellow;
    width: 75%;
    margin: 20px;
  }
}
