.container-messages-snapshot {
  align-items: center;
  display: flex;
}

.snapshot-wrapper:hover {
  background-color: rgba($color: #302c2c8c, $alpha: 0.1);
  cursor: pointer;
}

.snapshot-delete-icon:hover {
  color: red;
  cursor: pointer;
}
