.modal-pdf-size {
    height: auto;
    width: 1200px;
}

.title-pdf-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-print-pdf {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    z-index: 99;
}

.table-generate-pdf {
    background-color: gray;
}

.table-generate-pdf-headers {
    background-color: #154360;
    color: white;
}

.table-generate-pdf-rows:nth-child(even) {
    background-color: #CCD1D1 ;
}

.modal-pdf-content {
    margin: auto;
    width: 90%;
}
