.container-map-delete-modal-location-list {
  display: flex;
  flex-direction: column;
}

.container-map-view-modal-location-list {
  min-height: 400px;
  width: 100%;
}

.container-delete-modal-location-list {
  display: flex;
  justify-content: flex-end;
}
